<div id="<%= dom_id country %>">
  <h1><%= country.name %></h1>

  <h2>Cities</h2>

  <ul>
    <% country.cities.order(:name).each do |city| %>
      <li id="<%= dom_id city %>">
        <h3><%= city.name %></h3>

        <h6>Description:</h6>

        <% if city.description.present? %>
          <p><%= city.description %></p>
        <% else %>
          <p>No description provided.</p>
        <% end %>

        <ul>
          <% city.buildings.order(:name).each do |building| %>
            <li id="<%= dom_id building %>">
              <%= building.name %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
